#!/usr/bin/env bash
set -e

# Please fill in the blanks!
BASE_DIR=
WEIGHTS_PATH=
ENV_NAME=   # if you don't use an environment, just leave it blank.


INPUT_FILE_PATTERN="${BASE_DIR}/tfrecord/test-???-of-???.seq.tfrecords"

if [ -n "${ENV_NAME}" ]; then
    source activate "${ENV_NAME}"
fi

export PYTHONPATH='.'
export PYTHONUNBUFFERED=1

python sample_cnn/evaluate.py \
    --input_file_pattern="${INPUT_FILE_PATTERN}" \
    --weights_path="${WEIGHTS_PATH}"
